* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    color: #45015e;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
  }
  
  .register-box {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
  }
  
  .register-box h1.empresa {
    text-align: center;
    color: #45015e;
    margin-bottom: 10px;
    font-size: 28px;
  }
  
  .register-box h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    color: #555;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: 600;
  }
  
  input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  button {
    padding: 12px;
    background-color: #45015e;
    color: #ffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #000000;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }

  #footer {
    background-color: #45015e;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
}

#footer #logo {
    width: 200px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 8px white);
}

.footer-contato {
    margin-bottom: 20px;
}

.footer-contato a {
    color: #a7cf38;
    font-weight: bold;
    text-decoration: none;
}

.footer-contato a:hover {
    text-decoration: underline;
}

.footer-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-redes a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-redes a:hover {
    color: #00b0f0;
}

.footer-copy {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}
  